// Appearance
$box-shadow: rgba(136, 153, 166, 0.2) 0px 0px 15px,
  rgba(136, 153, 166, 0.15) 0px 0px 3px 1px;
$scale: scale(1.1);

// Colors
$bg: #edf1f7;

$blue: #253c92;
$blue-dark: #09217c;
$blue-shade-1: #d5ddfa;
$blue-shade-2: #8d9fe5;
$blue-shade-3: #cdd7fa;
$blue-shade-4: #e0e6fdaa;

$dark: #1d1d1d;

$google: #4285f4;
$google-dark: darken($google, 10%);

$green: #33c327;
$green-dark: darken($green, 7%);

$light-text: #7b8591;
$lighter: #c3ccd3;

$orange: #f25b84;

$purple: #c400e8;

$white: #ffffff;

// Dimension
$container: 120rem;
