#admin {
  .more {
    margin-left: 1rem;

    &__toggle {
      background-color: transparent;
      border-color: transparent;
      color: inherit !important;
      display: block;
      margin: 0;
      padding: 0;
      white-space: normal;

      &:hover,
      &:focus,
      &:active {
        background-color: transparent !important;
        border-color: transparent !important;
        box-shadow: none !important;
        outline: none !important;
      }

      &__icon {
        display: block;
        height: auto;
        margin: 0;
        width: 2rem;
      }
    }

    &__menu {
    }

    &__btn {
    }
  }
}
