#admin {
  .table {
    margin: 0;

    thead {
      th {
        background-color: #f5f6fa;
        border: none;
        color: $blue;
        font-size: 1.4rem;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        white-space: nowrap;
        vertical-align: middle;
      }
    }

    tr {
    }

    th,
    td {
      padding: 2rem 1rem;

      .form-check {
        align-items: center;
        display: flex;
        height: 2rem;
        justify-content: center;
        margin: 0;
        padding: 0;
        width: 2rem;

        &-input {
          margin: 0;
          padding: 0;
        }
      }
    }

    td {
      border: none;
      border-bottom: 1px solid #f1f1f3;
      vertical-align: top;

      .cta {
        align-items: center;
        display: flex;
        justify-content: center;
      }

      .status {
        background-color: $dark;
        border-radius: 100%;
        display: inline-block;
        height: 1rem;
        width: 1rem;

        &.active {
          background-color: green;
        }

        &.inactive {
          background-color: red;
        }
      }
    }
  }
}
